* {
    font-family: 'Noto Sans KR', sans-serif;
}

h1 {
  text-align: center;
  margin-bottom:50px;
  margin-top: 80px;
}

p {
  text-align: center;
  line-height: 50px;
}

h3,h4 {
  text-align: center;
  margin-bottom: 50px;

}

h5 {
  text-align: center;
}
ul {
  list-style: none;
  display: block;
  padding: 0px;
  text-align: center;
}

ul li{
  display: inline;
  margin-right: 50px;
  margin-left: 50px;
  font-weight: bold;
}

pre {
  text-align: center;
  padding-right: 50px;
}

span {
  font-size:1.5em;
  color: blue;
}

a {
  text-decoration:none;
  color:#blue
}

a:hover   { text-decoration:underline; color:#blue }

a:visited { text-decoration:none; color:#blue }

#except li {
  display: block;
  font-weight: normal;
  margin-bottom: 15px;

}

#centerline {
  border-top: 1px solid black;
  width: 600px;
  height: 10px;
  display: block;
  margin: 50px auto;
}

#bdline {
  border-top: 1px solid gray;
  width: 450px;
  height: 10px;
  margin: 50px auto;
}

#grid {
  display: grid;
  grid-template-columns: 600px 1fr;
}

#rightlink{
  margin-left: 50px;
}


@media(max-width:1400px){
#grid{
    display: block;
  }
#grid .title {
    margin-top:0px;
    text-align:center;
  }

#grid .img{
  margin-top: 30px;
}

}

@media(max-width:600px){
#grid{
    display: block;
  }
#grid .title {
    margin-top:0px;
    text-align:center;
  }

#grid .img{
  margin-top: 100px;
}

#grid img{
  width: 350px;
}

#grid h1{
  margin-top: 70px;
  font-size: 1.2em;
}

#grid span{
  font-size: 1.1em;
}

#rightlink{
  margin-left: 25px;
}

}


.space {
  width: 450px;
  height: 10px;
  margin: 50px auto;
}

.img {
  display: block;
  text-align: center;
  margin-top: 160px;
}

.contents {
  margin-top:350px;
  margin-bottom: 600px;
  display: block;

}

.mainlink{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.title {
  margin-top: 350px;
}
