* {
    font-family: 'Noto Sans KR', sans-serif;
}

h1 {
  text-align: center;
  margin-bottom:50px;
  margin-top: 80px;
}

p {
  text-align: center;
  line-height: 50px;
}

h3,h4 {
  text-align: center;
  margin-bottom: 50px;

}

h5 {
  text-align: center;
}
ul {
  list-style: none;
  display: block;
  padding: 0px;
  text-align: center;
}

ul li{
  display: inline;
  margin-right: 50px;
  margin-left: 50px;
  font-weight: bold;
}

pre {
  text-align: center;
  padding-right: 50px;
}

a {
  text-decoration:none;
}

a:hover   { text-decoration:underline; color:#blue }

a:visited { text-decoration:none; color:#blue }

#except li {
  display: block;
  font-weight: normal;
  margin-bottom: 15px;

}

#centerline {
  border-top: 1px solid black;
  width: 600px;
  height: 10px;
  display: block;
  margin: 50px auto;
}

#bdline {
  border-top: 1px solid gray;
  width: 450px;
  height: 10px;
  margin: 50px auto;
}

#grid {
  display: grid;
  grid-template-columns: 600px 1fr;


}

.space {
  width: 450px;
  height: 10px;
  margin: 50px auto;
}

.img {
  width: 600px;
  margin: 120px 150px;
  display: block;
}

.contents {
  margin-top:350px;
  margin-bottom: 600px;
  display: block;

}

.mainlink{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.title {
  margin-top: 350px;
}
